<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.obanks.mapper.AuthorityMapper">
	<resultMap id="BaseResultMap" type="cn.obanks.model.Authority">
		<id column="ID" property="id" />
		<result column="USER_ID" property="userId" />
		<result column="ROLE_ID" property="roleId" />
		<result column="CREATED_BY" property="createdBy" />
		<result column="CREATED_DATE" property="createdDate" />
		<result column="UPDATED_BY" property="updatedBy" />
		<result column="UPDATED_DATE" property="updatedDate" />
		<result column="DELETED_FLAG" property="deletedFlag" />
	</resultMap>

	<sql id="Base_Column_List">
		ID, USER_ID, ROLE_ID, CREATED_BY, CREATED_DATE, UPDATED_BY, UPDATED_DATE, DELETED_FLAG
	</sql>

	<insert id="add" parameterType="cn.obanks.model.Authority">
		INSERT INTO AUTHORITY VALUES (#{id},#{userId},#{roleId},#{createdBy},#{createdDate},#{updatedBy},#{updatedDate},#{deletedFlag})
	</insert>

	<select id="getGrantedAuthoritiesByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
		SELECT * FROM AUTHORITY WHERE DELETED_FLAG='N' AND USER_ID= #{userId}
	</select>

	<delete id="remove" parameterType="cn.obanks.model.Authority">
		DELETE FROM AUTHORITY WHERE USER_ID = #{userId}
	</delete>
</mapper>