<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.obanks.mapper.CredentialMapper">
	<resultMap id="BaseResultMap" type="cn.obanks.model.Credential">
		<id column="ID" property="id" />
		<result column="ACCT_CODE" property="acctCode" />
		<result column="ACCT_PASSWORD" property="acctPassword" />
		<result column="ACCT_TYPE" property="acctType" />
		<result column="USER_ID" property="userId" />
		<result column="IS_ACCOUNT_NONEXPIRED" property="isAccountNonexpired" />
		<result column="IS_ACCOUNT_NONLOCKED" property="isAccountNonlocked" />
		<result column="IS_CREDENTIAL_NONEXPIRED" property="isCredentialNonexpired" />
		<result column="IS_ENABLED" property="isEnabled" />
		<result column="REMARK" property="remark" />
		<result column="CREATED_BY" property="createdBy" />
		<result column="CREATED_DATE" property="createdDate" />
		<result column="UPDATED_BY" property="updatedBy" />
		<result column="UPDATED_DATE" property="updatedDate" />
		<result column="DELETED_FLAG" property="deletedFlag" />
	</resultMap>

	<sql id="Base_Column_List">
		ID, ACCT_CODE, ACCT_PASSWORD, ACCT_TYPE, USER_ID, IS_ACCOUNT_NONEXPIRED, IS_ACCOUNT_NONLOCKED,
		IS_CREDENTIAL_NONEXPIRED, IS_ENABLED, REMARK, CREATED_BY, CREATED_DATE, UPDATED_BY,
		UPDATED_DATE,
		DELETED_FLAG
	</sql>

	<select id="getByAcctCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		<include refid="Base_Column_List" />
		FROM CREDENTIAL WHERE ACCT_CODE = #{acctCode}
		LIMIT 1
	</select>

	<insert id="add" parameterType="cn.obanks.model.Credential">
		INSERT INTO CREDENTIAL VALUES (#{id}, #{acctCode}, #{acctPassword},#{acctType}, #{userId},
		#{isAccountNonexpired}, #{isAccountNonlocked}, #{isCredentialNonexpired},
		#{isEnabled}, #{remark}, #{createdBy}, #{createdDate},
		#{updatedBy}, #{updatedDate}, #{deletedFlag})
	</insert>

	<select id="selectByAcctCode" parameterType="cn.obanks.model.Credential" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM CREDENTIAL WHERE ACCT_TYPE = #{acctType} AND ACCT_CODE = #{acctCode} AND DELETED_FLAG='N'
	</select>

	<select id="authenticate" parameterType="cn.obanks.model.Credential" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM CREDENTIAL WHERE DELETED_FLAG='N' AND ACCT_CODE = #{acctCode} AND ACCT_PASSWORD = #{acctPassword}
	</select>

	<select id="searchEx01" parameterType="List" resultType="String">
		SELECT ACCT_CODE FROM CREDENTIAL WHERE USER_ID IN
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
		LIMIT 1
	</select>

	<delete id="remove" parameterType="cn.obanks.model.Credential">
		DELETE FROM CREDENTIAL WHERE USER_ID = #{userId}
	</delete>

	<update id="merge" parameterType="cn.obanks.model.Credential">
		UPDATE CREDENTIAL
		SET
		ACCT_PASSWORD = #{acctPassword},
		UPDATED_BY = #{updatedBy},
		UPDATED_DATE = #{updatedDate}
		WHERE
		ACCT_TYPE = #{acctType}
		AND USER_ID = #{userId}
	</update>

	<select id="searchEx02" parameterType="cn.obanks.model.Credential" resultMap="BaseResultMap">
		SELECT * FROM CREDENTIAL WHERE USER_ID =#{userId} AND ACCT_TYPE=#{acctType} AND DELETED_FLAG='N' limit 1
	</select>
	<!-- <update id="activateCredential" parameterType="cn.obanks.model.Credential"> UPDATE CREDENTIAL SET IS_ENABLED = #{isEnabled}, UPDATED_BY = #{updatedBy}, UPDATED_DATE = #{updatedDate} WHERE USER_ID = #{userId}
		AND ACCT_TYPE=#{acctType} </update> -->

	<update id="changePassword" parameterType="cn.obanks.model.Credential">
		UPDATE CREDENTIAL
		SET
		ACCT_PASSWORD = #{acctPassword},
		UPDATED_BY = #{updatedBy},
		UPDATED_DATE = #{updatedDate}
		WHERE
		ACCT_TYPE = #{acctType}
		AND USER_ID = #{userId}
	</update>

	<select id="searchCredentialByUserId" parameterType="cn.obanks.model.Credential" resultMap="BaseResultMap">
		SELECT * FROM CREDENTIAL WHERE USER_ID =#{userId} AND ACCT_TYPE=#{acctType} AND DELETED_FLAG='N' limit 1
	</select>

	<select id="countCredentialByUserId" parameterType="cn.obanks.model.Credential" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM CREDENTIAL WHERE ACCT_TYPE=#{acctType} AND DELETED_FLAG='N' AND ACCT_PASSWORD=#{acctPassword} AND USER_ID =#{userId}
	</select>

</mapper>