<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.obanks.mapper.RoleResourceMapper">
	<resultMap id="BaseResultMap" type="cn.obanks.model.RoleResource">
		<id column="ID" property="id" />
		<result column="ROLE_ID" property="roleId" />
		<result column="RESOURCE_ID" property="resourceId" />
		<result column="CREATED_BY" property="createdBy" />
		<result column="CREATED_DATE" property="createdDate" />
		<result column="UPDATED_BY" property="updatedBy" />
		<result column="UPDATED_DATE" property="updatedDate" />
		<result column="DELETED_FLAG" property="deletedFlag" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, ROLE_ID, RESOURCE_ID, CREATED_BY, CREATED_DATE, UPDATED_BY, UPDATED_DATE, DELETED_FLAG
	</sql>

	<insert id="add" parameterType="cn.obanks.model.RoleResource">
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
		INSERT INTO ROLE_RESOURCE values (#{id,}, #{roleId,}, #{resourceId,},#{createdBy,}, #{createdDate}, #{updatedBy,},#{updatedDate}, #{deletedFlag})
	</insert>

	<update id="merge" parameterType="cn.obanks.model.RoleResource">
		UPDATE ROLE_RESOURCE
		SET ROLE_ID = #{roleId},
		RESOURCE_ID = #{resourceId},
		UPDATED_BY = #{updatedBy},
		UPDATED_DATE = #{updatedDate}
		where ID = #{id}
	</update>
</mapper>